langchain==0.0.312
openai
streamlit
opencv-python
scikit-image
google-search-results
chromadb
tiktoken
unstructured
pdf2image
pdfminer.six
youtube-transcript-api
pyairtable
unstructured_inference
unstructured_pytesseract
wikipedia
openpyxl
# pysqlite3-binary